#chat_container {
    display: flex;
    flex-direction: column;

    position: relative;
    margin-top: auto;

    flex: 1;
    overflow: hidden;
    
    padding-bottom: 0;
}

#chat_contents {
    display: flex;
    flex-direction: column;

    flex-grow: 1;

    overflow-y: auto;
    overflow-x: hidden;
}

#chat_empty_space {
    flex: 1;
}

#chat_input,
.chat_message_container {
    padding: 10px;
    border-radius: 4px;
}

#chat_input {
    width: 100%;
    height: fit-content;

    margin-top: 8px;

    border: none;
    outline: none;

    background-color: #333333;

    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#chat_input::placeholder {
    font-style: italic;
}

.chat_message_container {
    word-wrap: break-word;
}

.sender, .message_content {
    color: whitesmoke;
    font-weight: 100;
}

.sender {
    height: fit-content;

    margin-bottom: 4px;
}

a {
    color: peachpuff;
}

#chat_form {
    margin-top: auto;
    margin-bottom: auto;
}




::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: #33333370;
}

::-webkit-scrollbar-thumb {
    background-color: #99999970;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a3a3a370;
}