canvas {
    width: 100vw;
    height: 100vh;

    pointer-events: none;
    position: fixed;

    z-index: 99;
}

#end_game_gif {
    width: 240px;
    height: 240px;

    margin-left: auto;
    margin-right: auto;

    background-color: transparent;
    background-image: url(../images/dancing_lizard.gif);
    /* background-image: url(../images/gecko.png); */
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);

    border-radius: 4px;
}